body {
  background-color: #130714;
}

iframe {
  z-index: -9999 !important;
}

.x-navContainer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 10px 10px 10px;
  height: 90px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* font styles */
.x-font1 {
  font-family: initial;
  font-size: 25px;
  color: white;
}

.x-footer-footer {
  background: linear-gradient(180deg, rgba(83, 50, 17, 1) 0%, rgba(74, 51, 29, 1) 53%, rgba(52, 38, 38, 1) 100%);
  padding: 35px;
  text-align: center;
  margin-bottom: -145px !important;
  margin-top: 30px !important;
}

.x-footer-font1 {
  color: #f3db80;
  font-size: 35px;
  font-weight: 1000;
}

.x-font2-bold {
  font-family: initial;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.x-font2 {
  font-family: initial;
  font-size: 35px;
  color: black;
  font-weight: 600;
}

.x-font3 {
  font-family: initial;
  font-size: 25px;
  color: white;
  font-weight: 600;
  text-align: right;
}

.x-font4 {
  font-family: initial;
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.x-font5 {
  font-family: initial;
  font-size: 14px;
  color: #f4bd22;
}

.x-font6 {
  font-family: initial;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.x-font7 {
  font-family: initial;
  font-size: 20px;
  color: #f4bd22;
}

.x-font8 {
  font-family: initial;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

/* grid styles */

.x-grid1 {
  margin-left: 10%;
  width: 30%;
}

.x-grid2 {
  margin-left: 15% !important;
  width: 70% !important;
}

.x-grid3 {
  margin-top: 10% !important;
  margin-bottom: 5% !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.x-grid4 {
  padding-left: 15% !important;
  margin: 10px 0;
  padding-right: 15% !important;
}

.x-grid5 {
  margin-left: 10% !important;
  width: 80% !important;
}

.x-grid6 {
  margin-left: 5% !important;
  width: 90% !important;
}

.x-logo {
  margin-right: 80px;
}

.x-topImg {
  width: 350px;
}

.x-humburger-icon {
  float: right;
  color: white !important;
  z-index: 4;
}

.x-navLink {
  text-decoration: none !important;
  font-family: "MyFont";
  font-weight: normal;
  font-size: 17px;
  color: white;
  margin-right: 25px;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url("./assets/font/AmazingKids.ttf") format("truetype");
  font-weight: normal;
}

.x-navLink:hover {
  text-decoration: none !important;
  font-family: "MyFont";
  font-size: 17px;
  color: #999999;
  margin-right: 25px;
  cursor: pointer;
}

.x-chocoImgBtn {
  background: url("./assets/img/chocoImgBtn.png") no-repeat scroll 0 0 transparent;
  background-size: cover;
  color: #262200;
  border: none;
  outline: none;
  cursor: pointer;
  width: 200px !important;
  height: 72px !important;
  font-family: initial;
  font-size: 25px !important;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.x-smallChoco {
  background: url("./assets/img/chocoImgBtn.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #262200;
  border: none;
  outline: none;
  cursor: pointer;
  width: 160px;
  height: 55px;
  font-family: initial;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 22px;
}

.x-smallChoco-1 {
  background: url("./assets/img/chocoImgBtn.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #262200;
  border: none;
  outline: none;
  cursor: pointer;
  width: 160px;
  height: 55px;
  font-family: initial;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 18px;
}

.x-greenImgBtn {
  background: url("./assets/img/greenImgBtn.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  color: #262200;
  border: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 70px;
  font-size: 25px !important;
  font-family: initial;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.x-smallGreen {
  background: url("./assets/img/greenImgBtn.png") no-repeat scroll 0 0 transparent;
  background-size: cover;
  background-repeat: no-repeat;
  color: #262200;
  border: none;
  outline: none;
  cursor: pointer;
  width: 160px;
  height: 55px;
  font-family: initial;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 18px;
}

.x-home-top {
  position: relative;
  /* background: url("./assets/img/homeTop.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* aspect-ratio: 1560 / 1050; */
}


.defi-pool {
  background-size: cover;
  background-repeat: no-repeat;
  background: url("./assets/img/poolBackground.png");
  /* border-bottom: 60px solid rgba(168, 98, 6, 0.363); */
  padding-bottom: 60px;
}

.x-home-top-video {
  position: relative;
  z-index: -1;
  width: 100%;
}

.x-home-top-img {
  position: absolute;
  top: 175px;
  left: calc(50% - 500px);
  display: flex;
  margin-bottom: 16vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.home-card {
  text-align: center;
  margin-right: 100px;
}

.home-presale {
  margin: auto;
  border: 2px solid #5678ff;
  border-radius: 10px;
  padding: 67px 45px;
  background-color: #080934;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1000;
}

.home-presale-font {
  font-weight: 600;
  margin-bottom: 20px;
}

.home-count-down {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.home-time-card {
  padding: 10px 14px;
  width: 50px;
  border-radius: 9px;
  background-color: rgb(77, 74, 102);
  margin: 0px 8px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.home-presale-border {
  border: 1px solid rgb(77, 74, 102);
  margin: 25px 0px;
}

.home-item-note {
  font-size: 13px;
  font-weight: 500;
}

.home-item-note::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  top: -27px;
  left: 50%;
  border-left: 1px solid #4c4b87;
}

.home-ova-notes {
  position: absolute;
  margin-top: 15px;
  margin-left: -25px;
}

.home-presale-percent {
  position: relative;
  background-color: rgba(124, 124, 124, 0.668);
  height: 12px;
  border-radius: 40px;
}

.home-presale-button {
  background-color: #3772ff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 28px;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 100px auto 0;
}

.home-presale-button:hover {
  background-color: #6c96f6;
}

.home-presale-currentyPercent {
  border-radius: 5px 5px 5px 5px;
  background-color: #3772FFCC;
  height: 12px;
}

.home-title {
  font-weight: 800;
  font-size: 70px;
  color: white;
  font-family: initial;
  font-style: italic;
}

.home-title-s {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 30px;
  color: white;
  font-family: initial;
  font-style: italic;
}


.home-title-about {
  margin-top: 80px !important;
  padding-bottom: 50px;
}

.home-about-img {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border: 10px solid rgb(212, 145, 58);
}

@media only screen and (max-width: 768px) {

  .x-chocoImgBtn {
    background: url("./assets/img/chocoImgBtn.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    color: #262200;
    border: none;
    outline: none;
    cursor: pointer;
    width: 130px !important;
    height: 48px !important;
    font-family: initial;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px !important;
  }

  .x-greenImgBtn {
    background: url("./assets/img/greenImgBtn.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    color: #262200;
    border: none;
    outline: none;
    cursor: pointer;
    width: 130px;
    height: 45px;
    font-family: initial;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px !important;
  }

  .x-home-top-img {
    margin-top: 0vh !important;
  }

  .home-title {
    font-weight: 60;
    font-size: 35px;
    color: white;
    font-family: initial;
    font-style: italic;
  }

  .home-title-s {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    font-family: initial;
    font-style: italic;
  }

  .x-font8 {
    font-family: initial;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1200px) {

  .x-home-top-img {
    position: inherit;
    left: 0px;
    top: 0px;
    margin-top: -58vh;
    margin-bottom: 0vh;
    padding: 0px 2%;
  }

  .home-title {
    font-size: 55px;
    font-weight: 650;
  }

  .home-card {
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  .home-card {
    display: none;
  }

  .home-presale {
    padding: 40px 20px;
  }

  .x-home-top-img {
    margin-top: -465px;
    margin-bottom: 1vh;
  }
}

.home-button {
  color: black !important;
}

.home-button:hover {
  color: black !important;
  text-decoration: none;
}

.x-defi-top-img {
  position: relative;
  text-align: center;
  margin-bottom: 100px !important;
}

.x-home-about-back {
  position: relative;
  background: url("./assets/img/aboutBack1.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1490 / 944;
  padding-top: 15px;
}

.x-home-features {
  position: relative;
  background: url("./assets/img/featureBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1600 / 600;
  padding-bottom: 100px !important;
}

@media only screen and (max-width: 768px) {

  .x-home-features {
    padding-top: 50px;
  }
}

.x-feature-item {
  border-image: none;
  border-radius: 50% 50% 0% 0%;
  border-style: solid;
  border-width: 5px;
  height: 100%;
  margin-left: 10%;
  width: 80%;
  overflow: hidden;
}

.x-feature-item-bottom {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-family: initial;
  font-weight: 600;
  font-size: 28px;
}

.x-home-petToken {
  position: relative;
  background: url("./assets/img/homeOtherBack.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 15px;
}

.x-home-petToken-title {
  width: 250px;
}

.x-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: url("./assets/img/footerBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1505 / 851;
  padding-top: 6%;
}

.x-home-bottom {
  position: relative;
  background: url("./assets/img/poolBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1500 / 1313;
}

.x-defi-bottom {
  position: relative;
  background: url("./assets/img/defi/defiBottomBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1600 / 1500;
}

.x-tokenomics-bottom {
  position: relative;
  background: url("./assets/img/tokenomics/bottomBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 2300 / 1500;
}

.x-footer-content {
  position: absolute;
  bottom: 30px;
}

.x-footer-img {
  width: 50%;
}

.x-footer-icon {
  width: 10%;
}

.x-footer-link {
  font-size: 30px;
  font-weight: 500;
  font-family: cursive;
  color: white;
  text-decoration: none;
}

.x-footer-link:hover {
  font-size: 30px;
  font-family: cursive;
  color: rgb(216, 168, 22);
  text-decoration: none;
}

@media only screen and (max-width:700px) {
  .x-footer-img {
    width: 70%;
  }

  .x-footer-icon {
    width: 15%;
  }

  .x-footer-link {
    font-size: 20px;
  }

  .x-footer-link:hover {
    font-size: 20px;
  }
}

.x-defi-top-video {
  position: relative;
  width: 76%;
  margin-left: 12%;
  text-align: center;
}

.x-defi-stakeCard1 {
  width: 100%;
  padding-bottom: 140px;
  background: url("./assets/img/defi/stakeCardBack1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.x-defi-stakeCard2 {
  width: 100%;
  background: url("./assets/img/defi/stakeCardBack2.png");
  padding-bottom: 140px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 5%;
}

.x-defi-buyCard1 {
  position: relative;
  width: 96%;
  margin-left: 2%;
  /* background: url("./assets/img/tokenomics/buyCardBack2.png"); */
  background-color: rgba(71, 216, 241, 0.808);
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  border: 6px solid rgb(255, 255, 255);
}

.swap-title-1 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.x-defi-buyCard2 {
  position: relative;
  width: 96%;
  margin-left: 2%;
  /* background: url("./assets/img/tokenomics/buyCardBack2.png"); */
  background-color: rgba(90, 104, 235, 0.699);
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  border: 6px solid rgb(255, 255, 255);
}

.chart-card {
  width: 100%;
  text-align: center;
}

.chart-card div {
  margin: auto;
}

.x-defi-lp {
  position: relative;
  background: url("./assets/img/homeFooterBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.x-defi-priceCard {
  border-radius: 8px;
  padding: 4%;
}

.x-stakeCard-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ffffffe1;
  color: black;
  font-weight: 500;
  font-size: 23px;
}



.x-nft-itemCard {
  border-radius: 10px;
  background-color: #2f1433da;
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 60px;
  transition: .5s ease-in-out;
}

.x-nft-itemCard-info {
  padding: 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(40%);
  border-radius: 20px 0px 0px 0px;
  transition: .2s ease-in-out;
  background-color: #2f1433;
  padding-bottom: 10px;
}

.x-nft-itemCard:hover .x-nft-itemCard-info {
  transform: translateY(0);
}

.x-nft-itemCard:hover img {
  transition: .2s ease-in-out;
}

.x-myItem-itemCard {
  background-color: #2f1433;
  border-radius: 5px;
}

.x-nft-item-image {
  padding: 20px
}



@media only screen and (max-width: 768px) {

  .x-grid1 {
    margin-left: 5%;
    width: 90%;
  }

  .x-grid2 {
    margin-left: 1% !important;
    width: 98% !important;
  }

  .x-topImg {
    width: 250px;
  }

  .x-home-petToken-title {
    width: 100% !important;
  }

  .x-defi-top-video {
    position: relative;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }

  .x-defi-stakeCard1 {
    position: relative;
    margin-left: 0px;
    width: 100%;
    background: url("./assets/img/defi/stakeCardBack1.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 473 / 537;
  }

  .x-defi-stakeCard2 {
    position: relative;
    margin-left: 0px;
    width: 100%;
    background: url("./assets/img/defi/stakeCardBack2.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 473 / 537;
  }

  .x-defi-buyCard1 {
    position: relative;
    margin-left: 0px;
    width: 100%;
    background: url("./assets/img/tokenomics/buyCardBack1.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 473 / 507;
  }
}

@media only screen and (max-width: 1000px) {
  .x-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: url("./assets/img/footerBack.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 850px;
    padding-top: 60px;
  }

  .x-home-bottom {
    position: relative;
    width: 100%;
    background: url("./assets/img/poolBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1200px;
  }

  .x-defi-bottom {
    position: relative;
    width: 100%;
    background: url("./assets/img/defi/defiBottomBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1400px;
  }

  .x-tokenomics-bottom {
    position: relative;
    width: 100%;
    background: url("./assets/img/tokenomics/bottomBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1400px;
  }
}

.text-right {
  text-align: right;
}

.swapForm {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.padding-top {
  padding-top: 50px
}

.swap-button {
  height: 60px !important;
  width: 250px !important;
  border-radius: 16px;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  background-color: #a06916;
}

.liquidity-button {
  height: 60px !important;
  width: 250px !important;
  border-radius: 16px;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  background-color: #a06916;
}

.toggle-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.toggle-buttons .swap {
  width: 140px;
  padding: 10px 0px;
  border-radius: 25% 0% 0% 25%;
  background-color: #41f1da;
  color: black;
  font-weight: 600;
  font-size: 20px;


  /* border: none!important; */
}

.toggle-buttons .liquidity {

  width: 140px;
  padding: 10px 0px;
  border-radius: 0% 25% 25% 0%;
  background-color: #3fbcdb;
  color: black;
  font-weight: 600;
  font-size: 20px;
  /* border: none!important; */
}

.spacer {
  height: 20px;
  width: 100%;
}

.spacer-1 {
  height: 40px;
  width: 100%;
}

.spacer-2 {
  height: 80px;
  width: 100%;
}

.spacer-3 {
  height: 500px;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 20px;
}

@media only screen and (max-width: 959px) {

  .spacer-3 {
    height: 60px;
    width: 100%;
  }

  .margin-bottom {
    margin-bottom: 2px;
  }

  .quick-link {
    display: none !important;
  }

  .Pet-world {
    display: none !important;
  }
}


.Pet-world {
  width: 100px !important
}

.connect-us {
  margin-bottom: 20px;
}

.border-radius {
  border-radius: 30px;
}

.economy-card {
  padding: 50px !important;
  margin-top: 60px;
  border-radius: 30px;
}


.x-eggBuyPage {
  margin-top: 80px !important;
  width: 80%;
  margin: auto;
}

.x-BuyCard-InfoList {
  padding-top: 40px;
}

.x-buyCard-infoField {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.x-buyCard-infoField-1 {
  width: 80%;
  margin: auto;
  padding: 8px;
}

.progressBar {
  padding-top: 20px;
  height: 100%;
}

.y-font1 {
  font-size: 30px;
  color: white;
}

.y-font1-bold {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.BuyCard-infos {
  position: relative;
}

.x-buyCard-button-field {
  position: absolute;
  bottom: 40px;
  margin-left: 10%;
  width: 80%;
}

.x-buyCard-button-field-pet {
  display: inline-block;
  margin-left: 5%;
  width: 40%;
  margin-right: 5%;
}

.x-buyCard-button-field-pet-1 {
  display: inline-block;
  margin-left: 5%;
  width: 90%;
  margin-right: 5%;
}

@media only screen and (max-width: 1000px) {

  .x-eggBuyPage {
    width: 95%;
  }

  .x-buyCard-infoField {
    width: 100%;
  }

  .x-buyCard-button-field {
    position: relative;
    bottom: 40px;
    margin-top: 60px;
    width: 80%;
  }
}

.x-buyCard-button {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 35px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #ffffff;
  background-color: #3dd28d;
  border: none;
  border-radius: 20px;
  line-height: 3em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.x-buyCard-button:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00c7ec;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.x-buyCard-button:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}

.x-buyCard-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.x-buyCard-button:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.splash-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-screen .loading-dot {
  font-size: 100px;
  margin-top: -80px;
  position: relative;
  animation: ease-in-out infinite alternate;
  animation-name: run;
  animation-duration: 1.2s;
}

@keyframes run {
  0% {
    left: -90px;
    color: #eee;
  }

  50% {
    color: #666;
  }

  100% {
    left: 90px;
    color: #eee;
  }
}


.alert-info {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.link-button {
  cursor: pointer;
  color: rgb(65, 120, 236) !important;
}

.x-itemPetpage-growButton {
  outline: none;
  height: 55px;
  text-align: center;
  width: 160px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.062);
  border: 2px solid #1ECD97;
  padding: 5px;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.x-itemPetpage-growButton:hover {
  color: white;
  background: #1ECD97;
}

.sweet-home-card {
  background-color: white
}

.onsale-button {
  color: white !important;
  width: 80% !important;
  font-weight: 500 !important;
  font-size: 30 !important;

  background-color: rgb(57, 235, 152) !important;
}

.onsale-button:hover {
  background-color: rgb(29, 233, 29) !important;
}

.Mui-disabled {
  color: rgb(43, 43, 43) !important;
  background-color: rgb(192, 192, 192) !important;
}

@media only screen and (max-width:960px) {
  .x-defi-stakeCard2 {
    margin-left: 0px;
  }
}